@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Montserrat:300, 400&display=swap");
@import url(normalize.css);
header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, #333333cf, #772dcbc9, #c871fabf), url("../images/compass.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative; }

.form--main__title {
  color: #ffffff;
  letter-spacing: 0.3rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 4.5rem; }

.form--main__header {
  margin: 3rem 0 1rem 0; }

.form {
  width: 85%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4rem; }

legend {
  font-family: "DM Serif Display", serif;
  font-size: 2.4rem;
  letter-spacing: 0.0625rem;
  font-weight: bold;
  color: #333333;
  margin: 1rem 0; }

label {
  display: inline-block;
  margin: 1rem 0;
  color: #6f6d6d;
  width: 100%; }

fieldset {
  border: none;
  margin: 2rem 0; }

input {
  font-size: 1.7rem;
  font-weight: 300;
  border-radius: 3rem;
  padding: 7px;
  outline: none;
  display: block;
  margin: 0 auto;
  width: 95%;
  border: 1px solid #c871fa;
  background-color: #f5f3f3; }

input:focus {
  border: 1.4px solid #772dcb;
  transition: ease-in-out 0.3s; }

.check {
  display: inline-block;
  vertical-align: top;
  padding-left: 2.5rem;
  margin: 1rem 0; }

.check input {
  position: absolute;
  left: -2.2rem;
  top: 0.1rem; }

.check label {
  margin-top: 0;
  font-weight: 300;
  position: relative; }

.treasure__map {
  margin-bottom: -2rem; }

.btn--primary {
  background-color: #c871fa;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin: 2rem auto;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  width: 45%;
  text-align: center; }
  .btn--primary:hover {
    background-color: #b540f8;
    transition: ease-in-out 0.2s; }

.btn--secondary {
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin: 2rem auto;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  width: 45%;
  text-align: center;
  background-color: #772dcb; }
  .btn--secondary:hover {
    background-color: #5f24a1;
    transition: ease-in-out 0.2s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

footer {
  background: #333333;
  background: linear-gradient(90deg, #333333 0%, #772dcb 49%, #c871fa 100%);
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0; }
  footer p {
    color: #ffffff; }

.line {
  margin: 2rem;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

h1 {
  font-size: 62px;
  color: #333333; }

h2 {
  font-size: 54px;
  color: #333333; }

h3 {
  font-size: 46px;
  color: #333333; }

h4 {
  font-size: 38px;
  color: #333333; }

h5 {
  font-size: 30px;
  color: #333333; }

h6 {
  font-size: 22px;
  color: #333333; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif; }

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.7;
  color: #6f6d6d; }

@media (min-width: 768px) {
  .form {
    width: 50%; } }
@media (min-width: 1024px) {
  .form {
    width: 40%; }

  .buttons {
    display: flex; } }

/*# sourceMappingURL=styles.css.map */
